<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      .root{
        margin-top: 20px;
        margin-left: 100px;
      }
    </style>
  </head>
  <body>
    <div class="root" >
     这是用户详细信息


    </div>


  </body>
</html>
